@charset "ISO-8859-1";

.logo{
    width: 30%;
    height: 100%;
    float: left;
    padding: 16px;
}
.icon{
    width: 6%;
    height: 100%;
 
    float: left;
    padding: 16px;
}

.titolo{
/*color: #7B002C;*/
/*color: crimson;*/
color: gold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position: absolute;
top: 5px;
}



.btn-toolset {
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #FFFFFF;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-family: sans-serif;
 font-size: 18px;
 background-color: #2DFF19;
 border-radius: 30px;
 padding: 14px 33px;
 border: 1px solid #006FE6;
 cursor: pointer;
}
.btn-toolset:hover {
 background-color: #2DFF19;
 border-color: #0056B3;
}
.btn-toolset > strong {
 font-size: 24px;
}