@charset "ISO-8859-1";
.centrale{
position: absolute;
top: 20%;
left: 20%;
right: 20%;
width: 60%;
height: 50%;
background-color: white;
opacity: 0.8;
border-radius: 200px;

}

.righe{
position: absolute;
top: 20%;
left: 20%;
right: 20%;
width: 50%;
height: 50%;
}

.bottone{
	background-color: #f44336;
	width: 80px;
	height: 30%
}

.bottoni{
	background-color: #4CAF50;
	width: 80px;
	height: 30%
}

.bottoni:hover{
	background: rgb(127,232,24);
	background: rgb(127,232,24);
	
}

 .bottone:hover{
	background: rgb(214,1,23);
	background: rgb(214,1,23);
	
}
 
 
	
